<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event Details</title>
    <link rel="stylesheet" href="event.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="Container-fluid">
        <div class="header">
            <h1>Event Information </h1>
        </div>

        <div class="infoBox">
            <h2>Event name :</h2>
            <h2>Saarang Dance Event</h2><br>
            <h2>Date :</h2>
            <h2>05/05/2023</h2><br>
            <h2>Venue : </h2>
            <h2> R.K. Auditorium </h2><br>
            <h2>Information : </h2>
            <h2>It is a five-day event that takes place every May and is one of the largest student-run
                festivals in India. Timing: 9:00 AM to 6:00 PM
            </h2>
        </div><br><br>

        <div class="comments">
            <h2>Comment Section</h2>
            <div class="commentBox">
                <h2>Manan Kukreja</h2>
                <h3>Is the event compulsory for all students?</h3>
            </div>
            <div class="commentBox">
                <h2>Mohammad Musaab </h2>
                <h3>is attandance manadatory ?</h3>
            </div>
            <div class="commentBox">
                <h2>Anagha Kuthale</h2>
                <h3>Will there be lecture?</h3>
            </div>
            <div class="commentBox">
                <h2>Anish Krishna </h2>
                <h3>Is the event compulsory for all students?</h3>
            </div>
            <div class="commentBox">
                <h2>Manan Kukreja</h2>
                <h3>Is the event compulsory for all students?</h3>
            </div>



        </div>
    </div>




</body>