<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cultural events</title>
  <link rel="stylesheet" href="cultural.css">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
  <div class="heading">
    <h1>Cultural Events</h1>
  </div>

  <div class="allEvents">
    <div class="events">
      <a href="/cevent1"><strong>
          <h1>Saarang Dance Event</h1>
        </strong>
        <div class="date"> 05/05/2023</div>
        <div class="desc"> It is a five-day event that takes place every May and is one of the largest student-run
          festivals in India. Saarang features a wide variety of events, including dance performances, music concerts,
          literary events, quizzes, and workshops. The dance events at Saarang are especially popular, with competitions
          in various styles such as classical, folk, western, and Bollywood. Renowned artists from India and abroad also
          perform at the event, making it a major cultural attraction in Chennai.</div>
      </a>
    </div>
    <div class="events">
      <a href="/cevent2">
        <h1>Malhar Music Event</h1>
        <div class="date"> 22/05/2023</div>
        <div class="desc"> It is a two-day event that takes place every May and is one of the oldest and most popular
          college festivals in India. Malhar features a wide variety of events, including music
          concerts, literary events and art exhibitions. The festival has a different theme every
          year, which forms the basis for most of its events and competitions. The dance events at Malhar are
          particularly popular, with competitions in various styles such as classical, folk, western, and Bollywood.
        </div>
      </a>
    </div>
    <div class="events">
      <a href="/cevent3">
        <h1>ADT Talks</h1>
        <div class="date"> 04/06/2023</div>
        <div class="desc"> ADT Talks is a speech competition that takes place at MIT ADT University in Pune, India. It
          is an annual event that provides a platform for students to showcase their public speaking skills and present
          their ideas on various topics. The competition typically consists of multiple rounds, with participants first
          giving a preliminary speech followed by subsequent rounds with more challenging topics. The topics for the
          speeches are chosen to reflect current social and cultural issues, and the competition encourages participants
          to think critically and creatively.</div>
      </a>
    </div>
    <!-- <div class="events">
      <a href="event.html">
        <h1></h1>
        <div class="date"> dd/tt/mm</div>
        <div class="desc"> Short description about the Cultural event</div>
      </a>
    </div> -->

  </div>

</body>

</html>