<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design events</title>
    <link rel="stylesheet" href="cultural.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="heading">
        <h1>Design Events</h1>
    </div>

    <div class="allEvents">
        <div class="events">
            <a href="/devent1"><strong>
                    <h1>Design Yatra</h1>
                </strong>
                <div class="date"> 17/05/2023</div>
                <div class="desc"> Design Yatra is an annual design event organized by Kyoorius, a design and innovation
                    club of MIT-ADT. The event brings together designers, artists, and industry experts from around the
                    world to
                    showcase their work and share their experiences. The event features exhibitions, talks, workshops,
                    and networking opportunities.</div>
            </a>
        </div>
        <div class="events">
            <a href="/devent2">
                <h1>MIT Art Fair</h1>
                <div class="date"> 26/05/2023</div>
                <div class="desc"> MIT Art Fair is an annual art fair that takes place in MIT-ADT University. The fair
                    features
                    exhibitions, talks, and workshops by artists and galleries from around the world. The fair provides
                    a platform for emerging and established artists to showcase their work and connect with potential
                    buyers and collectors.
                </div>
            </a>
        </div>
        <div class="events">
            <a href="/devent3">
                <h1>MIT Fashion Shows</h1>
                <div class="date"> 19/06/2023</div>
                <div class="desc"> MIT Fashion shows provide a great platform for students to gain exposure to
                    the fashion industry, network with industry experts, and showcase their talent and creativity. They
                    are also a great way to build confidence and develop presentation skills, which can be valuable for
                    a career in fashion or design.</div>
            </a>
        </div>
        <!-- <div class="events">
      <a href="event.html">
        <h1></h1>
        <div class="date"> dd/tt/mm</div>
        <div class="desc"> Short description about the Cultural event</div>
      </a>
    </div> -->

    </div>

</body>

</html>