<!DOCTYPE html>
<html>

<head>
	<title>MIT-Gram</title>
	<link href="index.css" rel="stylesheet">
</head>

<body>
	<div class="inFormBackground">
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="inLoginForm">
			<form>
				<div class="title">
					<h2>MITGram</h2>
					<h3>Sign-In As:</h3>
				</div>

			</form>


			<div class="form2">
				<br>
				<br>
				<a href="/login" class="submitForm">Student</a>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<a href="/login1" class="submitForm">Faculty</a>
			</div>
		</div>
	</div>

</body>

</html>