<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sports events</title>
    <link rel="stylesheet" href="cultural.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="heading">
        <h1>Sports Events</h1>
    </div>

    <div class="allEvents">
        <div class="events">
            <a href="/sevent1"><strong>
                    <h1>College Football League</h1>
                </strong>
                <div class="date"> 03/04/2023</div>
                <div class="desc"> The College Football League is a great opportunity for students to showcase their
                    football skills, develop teamwork and leadership abilities, and build a sense of camaraderie with
                    their teammates. The league is typically open to students of all skill levels, and provides a
                    platform for both experienced players and beginners to participate and improve their game.</div>
            </a>
        </div>
        <div class="events">
            <a href="/sevent2">
                <h1>Inter-College Sports Meets</h1>
                <div class="date"> 12/05/2023</div>
                <div class="desc"> The Inter-College Sports Meet is a great opportunity for students to showcase their
                    skills, build their teamwork and leadership abilities, and develop a sense of sportsmanship. The
                    event also provides a platform for students to interact with peers from different colleges, creating
                    an environment of healthy competition and collaboration.
                </div>
            </a>
        </div>
        <div class="events">
            <a href="/sevent3">
                <h1>Chess Competition</h1>
                <div class="date"> 04/06/2023</div>
                <div class="desc"> The tournament is usually open to all students in the college, regardless of their
                    level of expertise in chess. The matches are often played in a round-robin format, with each
                    participant playing against every other participant in the tournament. The winner is determined
                    based on the number of matches won, with tie-breakers used in case of a tie..</div>
            </a>
        </div>
        <!-- <div class="events">
      <a href="event.html">
        <h1></h1>
        <div class="date"> dd/tt/mm</div>
        <div class="desc"> Short description about the Cultural event</div>
      </a>
    </div> -->

    </div>

</body>

</html>