<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Technical events</title>
    <link rel="stylesheet" href="cultural.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">


</head>

<body>
    <div class="heading">
        <h1>Technical Events</h1>
    </div>

    <div class="allEvents">
        <div class="events">
            <a href="/tevent1"><strong>
                    <h1>HackMIT</h1>
                </strong>
                <div class="date"> 02/05/2023</div>
                <div class="desc"> The event is open to college students from around the world, and typically attracts
                    hundreds of participants who work on innovative projects in various domains, such as software,
                    hardware, and design.
                    HackMIT is known for its high level of organization, which includes mentorship and workshops for
                    participants, as well as a wide range of challenges and prizes sponsored by leading companies in the
                    tech industry. The event also features keynote speakers, networking opportunities, and a fun,
                    collaborative atmosphere that encourages creativity and teamwork.</div>
            </a>
        </div>
        <div class="events">
            <a href="/tevent2">
                <h1>HackPrinceton</h1>
                <div class="date"> 28/05/2023</div>
                <div class="desc"> It is one of the largest hackathons in the India and attracts participants
                    from around the states of India.
                    HackPrinceton typically lasts for 36 hours and provides participants with the opportunity to work on
                    a variety of projects, including hardware and software development, mobile applications, and web
                    development. The event is open to students from any college or university and is free to attend.
                </div>
            </a>
        </div>
        <div class="events">
            <a href="/tevent3">
                <h1>TechTALKS</h1>
                <div class="date"> 04/06/2023</div>
                <div class="desc"> TechTalks cover a wide range of topics, from computer science and engineering to
                    artificial intelligence and machine learning. The presentations may include case studies, demos, and
                    discussions on the latest trends and developments in the field. Attendees can learn from the
                    experiences of the presenters, and can also ask questions and engage in discussions.
                    TechTalks provide a great opportunity for networking, as attendees can connect with other people who
                    share their interests and passion for technology. </div>
            </a>
        </div>
        <!-- <div class="events">
      <a href="event.html">
        <h1></h1>
        <div class="date"> dd/tt/mm</div>
        <div class="desc"> Short description about the Cultural event</div>
      </a>
    </div> -->

    </div>

</body>

</html>